<!-- GLOBAL NAV -->
<div data-ng-controller="MastheadController">
    <div ng-include="" src="'views/masthead.html'"></div>
</div>
<!--end masthead-->
<div class="content container">
    <div class="span12" style="height:400px;padding:18px; border-bottom: 1px solid #e8e8e8;">
        <h4>History</h4>
        test
        test 2
        Test 3
        test 4
    </div>
    <div class="row" style="padding:18px;text-align: center;">
        <button class="btn btn-default btn-sm">Load More</button>
    </div>
</div>
<!-- GLOBAL NAV -->
<div data-ng-controller="FooterController">
    <div ng-include="" src="'views/footer.html'"></div>
</div>
<!--end masthead-->