<div class="head-nav">
	<div id="inner-head-nav">
		<div class="logo-section">
			<a id="logo-container" href="/" title="Hipkid home"> 
				<span class="logo">{{home.title}}</span>
			</a>
			<button class="head-nav-btn" >
			</button>
		</div>
		<div class="user-section">
			<div class="notification-container"></div>
			<span>{{home.title}}</span>
		</div>
	</div>
</div>
<div class="page-container">
	<div class="guid-menu">
		<div class="guid-container"  ng-view="">
		</div>
	</div>
	<div class="nav-bar head-nav">
		<div class="inner-nav-bar ">
		</div>
	</div>
	<div class="content">
	test
	</div>
</div>