<div class="nav-bar navbar-fixed-top masthead">
    <div class="navbar-inner nav-top">
        <div class="container-fluid">
            <div class="pull-left">
                <div class="navbar-header">
                    <a class="navbar-brand" ui-sref="home" title="{{home.title}}">
                        {{home.title}}
                    </a>
                </div>
                <ul class="nav navbar-nav menu-btn">
                    <li>
                        <a>
                            <i class="fa fa-bars fa-lg"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <ul class="nav navbar-nav navbar-right cheeki">
                <li>
                    <a ui-sref="upload">
                        <i class="glyphicon glyphicon-upload fa-lg"></i>
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-bell-o fa-lg"></i>
                    </a>
                </li>
                <li ng-if="!isLoggedIn()">
                    <a  ui-sref="login">
                        <i class="glyphicon glyphicon-user fa-lg"></i>
                    </a>
                </li>
                <li ng-if="isLoggedIn()">
                    <a popover-title="Test" popover-placement="bottom" popover-html="And here's some content." user-options-pop-directive>
                        <img width="20" src="/img/test_Fozzie.jpg" />
                    </a>
                </li>
            </ul>
        </div>
        <div class="guid-menu">
            <div class="guid-container">
                <ul>
                    <li>
                        <div>
                            <ul>
                                <li>
                                    <a class="list-group-item" ui-sref="home"><i class="fa fa-home fa-fw"></i>&nbsp; Home</a>
                                </li>
                                <li>
                                    <a class="list-group-item" ui-sref="#"><i class="fa fa-user fa-fw"></i>&nbsp; My Channel</a>
                                </li>
                                <li>
                                    <a class="list-group-item" ui-sref="history"><i class="glyphicon glyphicon-hourglass fa-fw"></i>&nbsp; History</a>
                                <li>
                            </ul>
                        </div>
                        <hr class="">
                    </li>
                    <li>
                        <div>
                            <h3>
                                <a href="/" class="">PLAYLIST</a>
                            </h3>
                            <ul>
                                <li>
                                    <a class="list-group-item" ui-sref="home">
                                        <i class="glyphicon glyphicon-list fa-fw"></i>&nbsp; List 1
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item" ui-sref="/" href="#">
                                        <i class="glyphicon glyphicon-list fa-fw"></i>&nbsp; List 2
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item" ui-sref="history">
                                        <i class="glyphicon glyphicon-list fa-fw"></i>&nbsp; List 3
                                    </a>
                                <li>
                            </ul>
                        </div>
                        <hr class="">
                    </li>
                    <li>
                        <div>
                            <h3>
                                <a href="/" class="">SUBSCRIPTIONS</a>
                            </h3>
                            <ul>
                                <li>
                                    <a class="list-group-item" ui-sref="user({username: 'Fonzy'})">
                                        <img width="20" src="/img/test_Fozzie.jpg" />&nbsp; Fonzy
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item" ui-sref="user({username: 'Muppets'})">
                                        <img width="20" src="/img/test_Fozzie.jpg" />&nbsp; Muppets
                                    </a>
                                </li>
                                <li>
                                    <a class="list-group-item" ui-sref="user({username: 'TheFonze'})">
                                        <img width="20" src="/img/test_Fozzie.jpg" />&nbsp; The Fonze
                                    </a>
                                <li>
                            </ul>
                        </div>
                        <hr class="">
                    </li>
                    <li>
                        <div>
                            <ul>
                                <li>
                                    <a class="list-group-item" href="#"><i class="fa fa-gear fa-fw"></i>&nbsp; Manage Subscriptions</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav-bar head-nav nav-bottom">

        <div class="inner-nav-bar">
        </div>
    </div>
</div>
