<div class="container">
    <div class="register-form pull-right">
        <div style="text-align: center;">
            <h1>Sign up Today</h1>
            <span>Already have an account? <a ui-sref="login">Login Now.</a></span>
        </div>
        <form ng-submit="register()" class="span6">
            <div class="row">
                <label class="control-label col-xs-12 pull-left">Name</label>
                <div class="form-group col-xs-6">
                    <input type="text" class="form-control" id="firstname" ng-blur="validateFirstname()" aria-describedby="firstname-help" placeholder="First Name" ng-model="registerForm.firstname"/>
                    <span id="firstname-help" class="help-block hide">This field required</span>
                </div>
                <div class="form-group col-xs-6">
                    <input type="text" class="form-control" id="lastname" ng-blur="validateLastname()"  aria-describedby="lastname-help"  placeholder="Last Name" ng-model="registerForm.lastname"/>
                    <span id="lastname-help" class="help-block hide">This field required</span>
                </div>
            </div>

            <div class="form-group floating-label-form-group">
                <label for="username">Create a username</label>
                <input type="text" class="form-control" id="username" ng-blur="validateUsername()" placeholder="User Name" ng-model="registerForm.username"/>
                <span id="username-help" class="help-block hide">This field required</span>
            </div>

            <div class="form-group floating-label-form-group">
                <label class="control-label" for="password">Create a password</label>
                <input type="password" class="form-control" id="password" ng-blur="validatePassword()" aria-describedby="password-help" placeholder="Password" ng-model="registerForm.password"/>
                <span id="password-help" class="help-block hide">This field required</span>
            </div>
            <div class="form-group floating-label-form-group">
                <label class="control-label" for="confirmPassword">Confirm your password</label>
                <input type="password" class="form-control" id="confirmPassword" ng-blur="validatePasswordConfirm()" placeholder="Confirm Password" aria-describedby="confirmPassword-help" ng-model="registerForm.confirmPassword"/>
                <span id="confirmPassword-help" class="help-block hide">This field required</span>
            </div>
            <div class="form-group floating-label-form-group">
                <label class="control-label" for="gender">Gender</label>
                <select id="gender" class="form-control input-sm" ng-change="validateGender()"
                        ng-init="registerForm.gender = genders[0]"
                        ng-model="registerForm.gender"
                        ng-options="item.displayName for item in genders">
                </select>
                <span id="gender-help" class="help-block hide">This field required</span>
            </div>

            <!--<div class="row">-->
                <!--<label class="control-label col-xs-12 pull-left">Birthday</label>-->
                <!--<div class="form-group col-xs-4">-->
                    <!--<select id="month" class="form-control input-sm"-->
                            <!--ng-init="registerForm.birthday.month = birthday.month[0]"-->
                            <!--ng-model="registerForm.birthday.month"-->
                            <!--ng-options="item.name for item in birthday.month">-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group col-xs-4">-->
                    <!--<select id="day" class="form-control input-sm"-->
                            <!--ng-init="registerForm.birthday.day = birthday.day[0]"-->
                            <!--ng-model="registerForm.birthday.day"-->
                            <!--ng-options="item for item in birthday.day">-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="form-group col-xs-4">-->
                    <!--<select id="year" class="form-control input-sm"-->
                            <!--ng-init="registerForm.birthday.year = birthday.year[0]"-->
                            <!--ng-model="registerForm.birthday.year"-->
                            <!--ng-options="item for item in birthday.year">-->
                    <!--</select>-->
                <!--</div>-->
                <!--<span id="birthday-help" style="margin-left:15px;" class="help-block">This field required</span>-->
            <!--</div>-->

            <div class="form-group floating-label-form-group">
                <label class="control-label" for="phone">Phone</label>
                <input type="text" class="form-control" id="phone" ng-blur="validatePhone()" placeholder="Phone" ng-model="registerForm.phone"/>
                <span id="phone-help" class="help-block hide">This field required</span>
            </div>
            <div class="form-group floating-label-form-group">
                <label class="control-label" for="email">Your email address</label>
                <input type="email" class="form-control" id="email" ng-blur="validateEmail()" placeholder="Email Address" ng-model="registerForm.email"/>
                <span id="email-help" class="help-block hide">This field required</span>
            </div>
            <div class="form-group">
                <label class="control-label" for="location">Location</label>
                <select id="location" class="form-control input-sm"
                        ng-init="registerForm.location = countryList[0]"
                        ng-model="registerForm.location"
                        ng-options="item.name for item in countryList">
                </select>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="agreement" ng-change="acceptTerms()" ng-model="registerForm.agreement">I agree to the <a ui-sref="/home">Terms of Service</a>
                </label>
                <span id="agreement-help" class="help-block hide">This field required</span>
            </div>
            <p class="help-block" data-ng-if="registerForm.errorMessage">{{registerForm.errorMessage}}</p>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </div>
</div>
<!-- GLOBAL NAV -->
<div data-ng-controller="FooterController">
    <div ng-include="" src="'views/footer.html'"></div>
</div>
<!--end footer-->