<!-- GLOBAL NAV -->
<div data-ng-controller="MastheadController">
    <div ng-include="" src="'views/masthead.html'"></div>
</div>
<!--end masthead-->
<div style="height:100% !important; margin-top:120px;" class="container">
    <div class="row" style="margin-bottom:60px !important;">
        <div class="col-lg-8">
            <div style="background:#000000; height:360px; width:750px;">
                <video id="example_video_1" class="video-js vjs-default-skin"
                       controls preload="auto" width="750px" height="360px"
                       poster="{{activeVid.thumbnail_url}}"
                       data-setup='{"controls":true}'>
                    <source src="" type='video/mp4' />
                </video>
            </div>
            <div class="span12 vid-details-box">
                <h1 style="margin-top:0px; font-size: 24px;color:#222;">{{activeVid.name}}</h1>
                <div class="pull-left">
                    <a ui-sref="user({username:activeVid.profile_url})">
                        <img width="50" src="{{activeVid.userPic}}" />
                    </a>
                    <div class="pull-right" style="margin-left:5px;">
                        <a style="position:relative; top:0px; display: block; margin-bottom:2px;" ui-sref="user({username:activeVid.profile_url})">
                            <span>{{activeVid.owner}}</span>
                        </a>
                        <button class="btn btn-sm btn-danger">Subscribe</button>
                    </div>
                </div>
                <div class="pull-right" style="max-width:200px;">
                    <span class="display-views">{{activeVid.views}}</span>
                    <hr/>
                    <ul class="rating-list">
                        <li class="ratings good-rating">
                            <span class="glyphicon glyphicon-thumbs-up" ng-click="togglelikeVideo()"></span>{{activeVid.likes}}
                        </li>
                        <li class="ratings bad-rating">
                            <span class="glyphicon glyphicon-thumbs-down" ng-click="toggleDislikeVideo()"></span>{{activeVid.dislikes}}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="vid-comments-box">
                <h4>All Comments ({{activeVidComments.length}})</h4>
                <div style="margin-bottom: 20px; height:50px;">
                    <img width="50" src="{{userAvatar}}" style="float:left; margin-right:20px;" />
                    <form method="post" action="setNewComment()">
                        <textarea class="strt-new-comment" style="width:655px; height:50px;float:left;" />
                    </form>
                </div>
                <div class="actionBox">
                    <ul class="commentList">
                        <li class="vid-comment" ng-repeat="comment in activeVidComments">
                            <div comment-entry comment="comment"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="side-videos col-lg-4">
            <ul class="video-list">
                <li class="video-list-item" data-ng-repeat="item in vidList">
                    <div class="detail-wrapper">
                        <a href="#/watch?vid={{item.id}}">
                            <span class="title">{{item.name}}</span>
                            <span class="stat">by: {{item.owner}}</span>
                            <span class="stat">{{item.views}} views</span>
                        </a>
                    </div>
                    <a href="#/watch?vid={{item.id}}">
                        <div class="thumb-nail">
                            <img style="width:120px;height:68px" src="{{item.thumbnail_url}}"/>
                            <span class="vid-time">{{item.vid_time}}</span>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- GLOBAL NAV -->
<div data-ng-controller="FooterController">
    <div ng-include="" src="'views/footer.html'"></div>
</div>
<!--end footer-->