	body{
		margin: 0px;
		background-color: #f1f1f1;
		color: #555555;
		font-family: arial, san-serif;
		font-size: 13px;
	}

	.head-nav {
		background-color: #ffffff;
		border-bottom:1px solid #e8e8e8;
		height:50px;
		width:100%;
	}
	.container-fluid {
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
    .nav-top {
        border-bottom: 1px solid #e8e8e8;
    }
    .footer-logo {
        height:30px;
        margin-right:15px;
    }
    .footer-logo a {
        height:30px;
        padding:5px 0px 0px 15px;
    }
    .options li {
        margin-right:14px;
    }

    .footer-top {
        height: 50px;
        border-bottom: 1px solid #e8e8e8;
    }
    .nav-bottom {

    }
	.logo-section {
		width:200px;
		height:100%;
		background-color: #f1f1f1;
		float:left;
	}
	.user-section {
		width:200px;			
		height:100%;
		float:right;
		background-color: #f1f1f1;
		margin-left:50px;
	}
	.head-nav-btn {
		padding:0 10px;
		margin:3px 5px;
		color:#333333;
		display:inline-block;
		/*border: solid 1px transparent;*/
		/*outline: 0px;*/
		background: none;
		box-shadow: none;
		height:28px;
		vertical-align: middle;
		border-radius:2px;
	}
	/*.page-container{*/
        /*height: 100% !important;*/
	/*}*/
	.guid-container{
		width:230px;
		padding: 13px 22px;
		box-sizing: border-box;				
	}
    .guid-container ul {
        margin:0px;
        padding-left: 0px;
        text-decoration: none;
        list-style-type: none;
        list-style: none;
    }
    .guid-container ul > li {
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .guid-container hr {
        margin-top:0px !important;
    }
    .guid-container h3 {
        font-size: 11px;
        line-height: 13px;
        margin:0 5px;
        padding:1px 0 8px;
        width: 155px;
        font-weight: 500;
    }
    .guid-container ul li,
    .guid-container ul li a{
        border: none;
    }
	.guid-menu {
		background-color: #ffffff;
		box-shadow: none;
		min-height:520px;
		max-height: 648px;
		top:51px;
		overflow: hidden;
		position:absolute;
		border-right:1px solid #e8e8e8;
		border-bottom:1px solid #e8e8e8;
	}
    .nav-bar .navbar-brand {
        padding-right:0 !important;
    }
	.content {
        /*min-height: 600px;*/
		height:100%;
        padding:0px !important;
		background-color: #FFFFFF;
		margin-top: 150px;
		margin-left: 360px;
        margin-bottom: 80px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	}
    .masthead{
        background-color: #FFFFFF;
    }
    .footer{
        background-color: #FFFFFF;
        height: 145px;
        padding-top:18px;
        padding-bottom:18px;
    }
    .menu-btn:hover {
        background:none;
    }
    .nav>li>a {
        color:#333333;
    }
    .nav>li>a:focus,
    .nav>li>a:hover {
        background-color: transparent;
        color: #333333;
    }

    /** User Page **/
    .user-form {
        background:#e8e8e8;
        border:solid 1px #e8e8e8;
        border-radius:3px;
        text-align: center;
        padding:40px;
        margin:0 auto;
        margin-top:100px;
        margin-bottom: 100px;
        max-width: 500px;

    }
    .user-form form {
        margin-top:50px;
    }
    .user-form button {
        margin-top:40px;
        margin-bottom:20px;
    }
    /** User Page **/

    input, textarea, select, a:focus {
        outline:none !important;
        border-color:#ccc !important;
    }

    .register-form {
        background:#e8e8e8;
        border:solid 1px #e8e8e8;
        border-radius:3px;
        padding:40px;
        margin:0 auto;
        margin-top:100px;
        margin-bottom: 100px;
        max-width: 500px;

    }
    .help-block{
        color:#FF0000;
    }
    .hide{
        display: none;
    }
    .show{
        display:block;
    }

    .error{
        border: solid 1px #FF0000 !important;
        border-color: #FF0000 !important;
    }
    .valid {
        border: solid 1px #ccc;
    }

    .register-form form {
        margin-top:50px;
    }
    .register-form button {
        margin-top:40px;
        margin-bottom:20px;
    }
    .block-anchor {
        display:block;
    }

    .login-footer {
        position:relative;
        bottom: 0px;
        width:100%
    }

    .detail-wrapper{
        margin-left: 133px;
    }


    .side-videos {
        background: #FFFFFF;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }

    .video-list{
        list-style: none;
        padding:0px;
        margin:15px 0px 0px 0px;
    }

    .video-list .title,
    .video-list .stat {
        line-height: 1.4;
        display: block;
    }

    .video-list .title {
        max-height: 2.4em;
        margin-bottom: 2px;
        line-height: 1.2;
        font-size: 13px;
        font-weight: 500;
        color:#FF0000;
        cursor: pointer;
        overflow: hidden;
    }
    .video-list .stat {
        color:#767676;
        font-size: 11px;
    }

    .video-list-item {
        position:relative;
        padding:0px;
        margin-bottom:15px;
        background:#FFFFFF;
        height:68px;
    }

    /*********************/
    .home-video-list{
        list-style: none;
        padding:0px;
        margin:0px;
    }
    .home-video-list .title,
    .home-video-list .stat {
        line-height: 1.4;
        display: block;
    }
    .home-video-list .title {
        max-height: 2.4em;
        margin-bottom: 2px;
        line-height: 1.2;
        font-size: 13px;
        font-weight: 500;
        color:#FF0000;
        cursor: pointer;
        overflow: hidden;
    }
    .home-video-list .stat {
        color:#767676;
        font-size: 11px;
    }
    .home-video-list-item {
        padding:0px;
        margin:15px;
        background:#FFFFFF;
        display: inline-block;
        height:110px;
        width:160px;
    }
    .home-video-list-item .detail-wrapper a {
        padding:0px;
        height:68px;
        text-decoration: none;
    }
    .home-video-list-item .top-thumb-nail {
        top:0;
        width:180px;
        height:136px;
        background-color:#000;
        margin:0 5px 0 0;
    }
    .bottom-detail-wrapper{
        margin-top:10px;
        margin-bottom:10px;
        display:block;
        width:120px;
        margin-left: 0px;
    }
    /*************************************/
    .user-options-pop {
        width:227px;
        height:139px;
        padding:0px !important;
    }
    .user-options-pop .popover-content {
        padding:9px 0px !important;
    }
    .user-options-pop  .user-content {
        height: 98px !important;
        width:270px !important;
    }
    .user-options-pop > .popover-footer {
        margin: 0;
        padding: 8px 14px !important;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        background-color: #F7F7F7;
        border-bottom: 1px solid #EBEBEB;
        border-radius: 5px 5px 0 0;
    }
    /*************************************/
    .video-list-item .detail-wrapper a {
        padding:0px;
        height:68px;
        text-decoration: none;
    }

    .video-list-item .thumb-nail {
        position: absolute;
        top:0;
        width:120px;
        height:68px;
        background-color:#000;
        margin:0 5px 0 0;
    }
    .video-list-item .top-thumb-nail {
        display: block;
        top:0;
        width:120px;
        height:68px;
        background-color:#000;
        margin:0 5px 0 0;
    }

    @media only screen and (max-width: 768px) {
        .container-fluid {
            min-width:773px !important;
        }
        .page-container {
            min-width:760px !important;
        }
        .navbar-right{
            float:right !important;
        }
    }

    /************************/
    .vid-details-box{
        min-height:150px;
        background-color:#FFFFFF;
        padding: 10px; margin-top:15px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }
    .vid-comments-box{
        min-height:150px;
        background-color:#FFFFFF;
        padding: 10px; margin-top:15px;
        box-shadow: 0 1px 2px rgba(0,0,0,.1);
    }
    .rating-list {
        list-style: none;
        text-decoration: none;
        display: inline-block;
        margin:0px;
        padding:0px;
    }
    .ratings {
        text-decoration: none;
        display: inline-block;
        font-size:14px;
    }
    .rating-list li:first-child {
        margin-right:15px;
    }
    .ratings span {
        margin-right:5px;
    }
    .bad-rating {
        height: 20px;
        margin: 0 6px 0 0;
    }
    .good-rating {
        height: 20px;
        margin: 0 6px 0 0;
    }
    .display-views {
        font-size: 20px;
    }

    /********** Video Comments **********/
    .actionBox {
        padding:10px;
    }
    .commentList {
        padding:0;
        list-style:none;
        overflow:auto;
    }
    .commentList li {
        margin:0;
        margin-top:10px;
    }
    .commenterImage {
        width:48px;
        margin-right:5px;
        height:100%;
        float:left;
    }
    .commenterImage img {
        width:100%;
        border-radius:50%;
    }
    .commentText p {
        margin-left:48px;
        position:relative;
        margin-bottom: 0px;
    }
    .comment-footer {
        margin-left:48px;
        position:relative;
    }
    .vid-comment {
        padding-bottom: 25px;
    }