<div class="commenterImage">
    <a ui-sref="user({username: comment.username})">
        <img src="{{comment.avatar_url}}" />
    </a>
</div>
<div class="commentText">
    <div class="comment-header">
        <a ui-sref="user({username: comment.username})">
            {{comment.username}}
        </a>
        <span>{{_setTime(comment.created)}}</span>
    </div>
    <p>{{comment.comment}}</p>
    <div class="comment-footer">
        <div class="footer-actions">
            <span ng-click="displayReply($event)" data-cid="{{comment._id}}" class="reply-gate">Reply</span>
            <ul class="rating-list">
                <li class="ratings good-rating">
                    <span class="glyphicon glyphicon-thumbs-up" ng-click="togglelikeComment($event)" data-cid="{{comment._id}}"></span>{{comment.likes}}
                </li>
                <li class="ratings bad-rating">
                    <span class="glyphicon glyphicon-thumbs-down" ng-click="toggleDislikeComment($event)" data-cid="{{comment._id}}"></span>{{comment.dislikes}}
                </li>
            </ul>
        </div>
        <div class="reply-box" ng-show="showReply">
            <div style="min-height:50px;">
                <img src="{{userAvatar}}"/>
                <textarea class="reply-text" data-cid="{{comment._id}}" />
            </div>
            <div class="reply-btns">
                <button class="btn btn-sm btn-default" id="cancel-reply" ng-click="cancelReply($event)">Cancel</button>
                <button class="btn btn-sm btn-primary" data-cid="{{comment._id}}" ng-click="replyPost($event)">Reply</button>
            </div>
        </div>
        <div ng-if="comment.child_comments.length > 0">
            <a class="comment-link" data-cid="{{comment._id}}" ng-click="getSubComments($event)">
                View all replies
            </a>
        </div>
        <ul class="commentList sub-comment-list" data-cid="{{comment._id}}">
        </ul>
    </div>
</div>
<style>
    .comment-footer {
        margin-left:48px;
        position:relative;
    }
    .commentText p {
        margin-left:48px;
        position:relative;
        margin-bottom: 0px;
    }
    .commenterImage {
        width:48px;
        margin-right:5px;
        height:100%;
        float:left;
    }
    .commenterImage img {
        width:100%;
        border-radius:50%;
    }
    .reply-box {
        margin-bottom:20px;
        margin-top:5px;
    }
    .reply-box img {
        float:left;
        margin-right:10px;
        width:32px;
        height:32px;
    }
    .reply-box textarea {
        width:92%;
        min-height:50px;
        float:left;
        margin:0px;
    }
    .reply-btns {
        margin-top:5px;
        text-align:right;
        width:98%;
    }
    .reply-gate {
        margin-right:10px;
        color:#555555;
    }
    .reply-gate:hover {
        cursor: pointer;
        color: #cc181e;
    }
    .comment-link {
        margin-top:5px;
        display:block;
        text-decoration: none;
    }
    .comment-link:hover {
        text-decoration: none;
    }
    #cancel-reply {
        margin-right:10px;
    }
    .selected {
        color: #cc181e;
    }
</style>